<header>
    <h1 class="main-header">{{title}}</h1>
    <ul class="nav-bar">
        <li><a href="/" id="weather">Weather</a></li>
        <li><a href="/about" id="about">about</a></li>
        <li><a href="/help" id="help">help</a></li>
    </ul>
</header>